<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date{ISO8601} %highlight(%-5level) %cyan(%logger{1}) - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="RocketmqPop" level="WARN"/>
    <logger name="RocketmqNamesrvWaterMark" level="WARN"/>
    <logger name="RocketmqWaterMark" level="WARN"/>
</configuration>
